.idea
libs

lol_drafts/.idea
riotdraftapi/.idea
riotdraftapi/libs

lol_drafts/.idea/*
riotdraftapi/.idea/*
riotdraftapi/libs/*

secrets.py
lol_drafts\discord_auth\secrets.py
__pycache__
lol_drafts/discord_auth/__pycache__/
lol_drafts/lol_drafts/__pycache__/
lol_drafts/lol_drafts/__pycache__/urls.cpython-310.pyc
lol_drafts/discord_auth/__pycache__/views.cpython-310.pyc
lol_drafts/discord_auth/__pycache__/secrets.cpython-310.pyc
*.pyc
.pyc
